<!DOCTYPE HTML>
<html>
    <head>
        <title> <%= title %> </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        <script src="js/scripts.js"></script>
    </head>
    <body>
        <!--NavBar for site navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-danger border border-primary">
            <a class="nav-link text-white" href="/"> HOME </a>
            <a class="nav-link text-white" href="/about"> ABOUT </a>
        </nav>

