<!DOCTYPE HTML>
<html>
    <head>
        <title> <%= title %> </title>
        <script src="js/scripts.js"></script>
    </head>
    <body>
        <!--NavBar for site navigation -->
        <ul>
            <li> <a href="/"> HOME </a></li>
            <li> <a href="/about"> ABOUT </a></li>
        </ul>
