<% include partials/header %>

<h5> Game Progress ended: </h5>
<img src="/images/hangmanS<%= stage %>.png"/>

<h1>You <%=result%> the hangman! The word was "<%=word%>"</h1>

<li> <a href="/"> HOME </a></li>
<li> <a href="/hangman"> PLAY AGAIN </a></li>

<% include partials/footer %>