<% include partials/header %>
<h1> HANGMAN </h1>

<!-- Image of Current Hangman -->
<img src="/images/hangmanS<%= stage %>.png"/>

<!-- Display Guesses -->
<h2>
    You have guessed: [
    <% for (var i = 0; i < guesses.length; i++){ %>
        <%= guesses[i] %> ,

    <% } %>
    ]
</h2>

<!-- Display Word Progress -->
<h1> 
        <% for (var i = 0; i < word.length; i++){ %>
            <% if (guesses.includes(word[i]) ){ %>
                <%= word[i] %>
            <% } else { %>
                <%= '_' %>
            <% } %>

        <% } %>
</h1>


<form method="POST">

    <input type="text" name="guess" id="guess" maxlength="1"  autofocus />
    <input type="submit" value="Guess" onclick="return validateHangman()"/> 

</form>

<% include partials/footer %>