<% include partials/header %>
<div class="container">

    <h1 class="display-1 text-center"> HANGMAN </h1>
        
    <!-- Image of Current Hangman -->
    <img class="img-responsive rounded mx-auto d-block" src="/images/hangmanS<%= stage %>.png"/>

    <!-- Display Guesses -->
    <h2 class="display-4 text-center">
        Your guesses: [
        <% for (var i = 0; i < guesses.length; i++){ %>
            <%= guesses[i] %> ,
        <% } %>
        ]
    </h2>

    <!-- Display Word Progress -->
    <h2 class="display-4 text-center"> 
            <% for (var i = 0; i < word.length; i++){ %>
                <% if (guesses.includes(word[i]) ){ %>
                    <%= word[i] %>
                <% } else { %>
                    <%= '_' %>
                <% } %>

            <% } %>
    </h2>


    <form class="text-center" method="POST">

        <input type="text" name="guess" id="guess" maxlength="1"  autofocus />
        <input type="submit" value="Guess" onclick="return validateHangman()"/> 

    </form>

</div>

<% include partials/footer %>