<% include partials/header %>
    <h1> Welcome! </h1>

    <h3>Which game would you like to play?</h3>
    <ul>
        <li><a href="/hangman">Hangman</a></li>
    </ul>



<% include partials/footer %>