<% include partials/header %>
<div class="container">
    <h1> 
        Welcome to hangman! 
    </h1>
    <div>
        <ul class="list-inline">
                <li class="list-inline-item"><a href="/hangman">Play</a></li>
                <li class="list-inline-item"> 
                    <!-- Need to have drop down for easy, normal, hard -->
                </li>
                <li class="list-inline-item">Hangman rules here!</li>
        </ul>
    </div>

</div>


<% include partials/footer %>